::-webkit-scrollbar {
  display: none !important;
}

.w-100 {
  width: 100% !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

/******************RECOVER FORM***************/
.link-custom {
  display: flex;
  align-content: center;
}
/******************RECOVER FORM***************/

/**********************CHAT VIEW**********************/

.rce-container-mlist {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 0.5rem;
}

.rce-mlist,
.rce-container-clist {
  height: 450px;
  overflow: scroll;
}

.rce-container-clist {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 0.5rem;
}

.rce-container-input {
  margin-top: 1rem;

  input {
    border: 1px solid #bdbdbd;
  }

  .rce-button {
    padding: 13px;
  }
}

.rce-mbox {
  background-color: #f96b66;
  color: white !important;
  .rce-mbox-time {
    color: white !important;
  }
}

.rce-mbox.rce-mbox-right {
  background-color: #1890ff;
  color: white !important;
}
/**********************CHAT VIEW**********************/

/**********************ENTRY FOLLOW**********************/

.chip-custom {
  padding: 0.5rem;
}

/**********************ENTRY FOLLOW**********************/
