::-webkit-scrollbar {
  display: none !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.w-100 {
  width: 100% !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.d-flex {
  display: flex !important;
  align-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

/****************LANGUAGE POPOVER***************/

.box-message-language {
  img {
    width: 28px !important;
    height: 20px !important;
  }
}

/****************LANGUAGE POPOVER***************/

/******************RECOVER FORM***************/
.link-custom {
  display: flex;
  align-content: center;
}
/******************RECOVER FORM***************/

/**********************CHAT VIEW**********************/

.rce-container-mlist {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 0.5rem;
}

.rce-mlist,
.rce-container-clist {
  height: 450px;
  overflow: scroll;
}

.rce-container-clist {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 0.5rem;
}

.rce-container-input {
  margin-top: 1rem;

  input {
    border: 1px solid #bdbdbd;
  }

  .rce-button {
    padding: 13px;
  }
}

.rce-mbox {
  background-color: #f96b66;
  color: white !important;
  .rce-mbox-time {
    color: white !important;
  }
}

.rce-mbox.rce-mbox-right {
  background-color: #1890ff;
  color: white !important;
}
/**********************CHAT VIEW**********************/

/**********************ENTRY FOLLOW**********************/

.chip-custom {
  padding: 0.5rem;
}

/**********************ENTRY FOLLOW**********************/

/**********************COACHING SESSION**********************/

.chip-custom {
  padding: 0.5rem;
}

.div-details-coaching {
  display: flex;
  justify-content: space-between;
}

.img-custom-coaching-session {
  width: 50px;
  height: 50px;
  border-radius: 99px;
}

.button-custom-coaching-session {
  min-width: 115px !important;
}

.list-coaching-session {
  .MuiListItem-root {
    padding-left: 0px !important;
  }
}

@media (max-width: 600px) {
  .div-details-coaching {
    display: block;
  }

  .div-access-time {
    margin-top: 10px;
  }
}

/**********************COACHING SESSION**********************/
